{% extends 'standard_container.html' %}
{% block content_title %}Procedure Management ({{ current_study.name }}){% endblock %}
{% block content_actions %}
<li class="nav-item"><a class="nav-link" href="/procedures/create/">Create procedure</a></li>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Procedure Management</li>
{% endblock %}
{% block main_content %}
    <table class="table table-secondary table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Tab</th>
        <th>Question Count</th>
        <th>Data Items</th>
        <th>Edit</th>
        <th>Form.</th>
        <th>Conditionals</th>
    </tr>
    </thead>
    <tbody>
    {% for procedure in procedures %}
    <tr>
        <td>{{ procedure.name }}</td>
        <td>{{ procedure.tab }}</td>
        <td>{{ procedure.form.questions|length }}</td>
        <td>{{ procedure.validators|length }}</td>
        <td><a href="/procedures/edit/{{ procedure.id }}/"><i class="bi bi-pencil-square"></i></a></td>
        <td><a href="/procedures/form/{{ procedure.id }}/questions/"><i class="bi bi-diagram-3-fill"></i></a></td>
        <td><a href="/procedures/form/{{ procedure.id }}/conditionals/"><i class="bi bi-signpost-split"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}