{% extends 'standard_container.html' %}
{% block content_title %}Procedure Form{% endblock %}
{% block content_actions %}
<li class="nav-item"><a class="nav-link" href="/procedures/{{ procedure.id }}/form/create/">Create Question</a></li>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/procedures/">Procedure Management</a></li>
    <li class="breadcrumb-item active">Procedure Form for {{ procedure.name }}</li>
{% endblock %}
{% block main_content %}
    <table class="table table-secondary table-striped">
    <thead>
    <tr>
        <th>Question Name</th>
        <th>Template</th>
        <th>Display</th>
        <th>Half Size</th>
        <th>Line Above</th>
        <th>Line Below</th>
        <th>Space Above</th>
        <th>Space below</th>
    </tr>
    </thead>
    <tbody>
    {% for question in questions %}
    <tr>
        <td>{{ question.name }}</td>
        <td>{{ question.template.name}}</td>
        <td>
            <a id="display{{ question.id }}">
                {% if question.display %}
                    <i class="bi bi-check-circle"></i>
                {% else %}
                    <i class="bi bi-x-circle-fill"></i>
                {% endif %}
            </a>
        </td>
        <td>
            <a id="half_size{{ question.id }}">
                {% if question.half_size %}
                    <i class="bi bi-check-circle"></i>
                {% else %}
                    <i class="bi bi-x-circle-fill"></i>
                {% endif %}
            </a>
        </td>
        <td>
            <a id="line_above{{ question.id }}">
                {% if question.line_above %}
                    <i class="bi bi-check-circle"></i>
                {% else %}
                    <i class="bi bi-x-circle-fill"></i>
                {% endif %}
            </a>
        </td>
        <td>
            <a id="line_below{{ question.id }}">
                {% if question.line_below %}
                    <i class="bi bi-check-circle"></i>
                {% else %}
                    <i class="bi bi-x-circle-fill"></i>
                {% endif %}
            </a>
        </td>
        <td>
            <a id="space_above{{ question.id }}">
                {% if question.space_above %}
                    <i class="bi bi-check-circle"></i>
                {% else %}
                    <i class="bi bi-x-circle-fill"></i>
                {% endif %}
            </a>
        </td>
        <td>
            <a id="space_below{{ question.id }}">
                {% if question.space_below %}
                    <i class="bi bi-check-circle"></i>
                {% else %}
                    <i class="bi bi-x-circle-fill"></i>
                {% endif %}
            </a>
        </td>
    </tr>
        {% include "scripts/update_question_format.html" %}
    {% endfor %}
    </tbody>
    </table>
{% endblock %}