{% extends 'standard_container.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/procedure/">Procedure Management</a></li>
    <li class="breadcrumb-item active">Create Procedure</li>
{% endblock %}
{% block content_title %}Create Procedure{% endblock %}
{% block main_content %}
    <form method="POST" action="/procedures/create/save/">
    {% csrf_token %}
        {% include "includes/text_input_prepend.html" with name="name" prepend="Procedure Name" required="true" %}
        {% include "includes/label_only.html" with label="Tab text is the title show on the provider form tab"  %}
        {% include "includes/text_input_prepend.html" with name="tab" prepend="Tab Text" required="true" %}
        {% include "includes/textbox_prepend.html" with name="title" prepend="Title" required="true" %}
        {% include "includes/textbox_prepend.html" with name="subtitle" prepend="Subtitle" required="true" %}
        {% include "includes/buttons/submit_button_nocancel.html" %}
    </form>

{% endblock %}
