{% extends 'standard_container.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/procedure/">Procedure Management</a></li>
    <li class="breadcrumb-item active">Edit Procedure</li>
{% endblock %}
{% block content_title %}Edit Procedure{% endblock %}
{% block main_content %}
    <form method="POST" action="/procedures/edit/{{ procedure.id }}/save/">
    {% csrf_token %}
        {% include "includes/text_input_prepend.html" with name="name" prepend="Procedure Name" required="true" result=procedure.name %}
        {% include "includes/label_only.html" with label="Tab text is the title show on the provider form tab" %}
        {% include "includes/text_input_prepend.html" with name="tab" prepend="Tab Text" required="true" result=procedure.tab %}
        {% include "includes/textbox_prepend.html" with name="title" prepend="Title" required="true" result=procedure.title %}
        {% include "includes/textbox_prepend.html" with name="subtitle" prepend="Subtitle" required="true" result=procedure.subtitle %}
        {% include "includes/buttons/submit_button_nocancel.html" %}
    </form>

{% endblock %}
