{% extends 'standard_container.html' %}
{% block content_title %}Procedure Form Question Create{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/procedures/">Procedure Management</a></li>
    <a class="breadcrumb-item"><a href="/procedure/form/{{ procedure.id }}/">Procedure Form for {{ Procedure.name }}"</a></li>
    <li class="breadcrumb-item active">Create Question</li>
{% endblock %}
{% block main_content %}
{% endblock %}