<div class="row">
    {% for item in range %}
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-check">
            <input type="checkbox" name="{{ name }}" value="{{ item }}" class="form-check-input"
                    {% if item in result %} checked="checked"{% endif %}
                   {% if required %}required{% endif %}>{{ item }}
            <label class="form-check-label">{{ item }}</label>
        </div>
    </div>
    {% endfor %}
</div>

