    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
      <a class="navbar-brand" href="https://www.quantumresearch.cloud/" target="_blank">2021 &copy;&nbsp;Quantum Research</a>
          <ul class="nav">
              <li class="nav-item">
                  <a href="https://www.quantumresearch.cloud/#comp-kmxppsas" target="_blank" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                  <a href="https://www.quantumresearch.cloud/#SITE_FOOTER" target="_blank" class="nav-link">Contact</a>
              </li>
          </ul>
      </div>
    </nav>