{% load static %}
    <nav class="navbar fixed-top navbar-expand-md" style="background-color: #2c4159; padding-top:0; padding-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-brand" href="#">
                <img src="{% static 'images/quantum_logo_wht-canv350x140.png' %}" style="max-height: 45px;">
            </div>
            <div class="text-white" style="font-size: 37px; font-family: Verdana">Collider Study Developer</div>

                <ul class="nav nav-pills-header">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Study</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Study Man</a></li>
                            <li><a class="dropdown-item" href="#">Study Forms</a></li>
                            <li><a class="dropdown-item" href="#">Study Payments</a></li>
                            <li><a class="dropdown-item" href="#">Study Ex. Docs</a></li>
                            <li><a class="dropdown-item" href="#">Study Visits</a></li>
                            <li><a class="dropdown-item" href="#">Study Revisions</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link btn btn-link" href="/procedures/">Procedures</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-link" href="/logout/">Logout</a></li>
                </ul>
                </div>
    </nav>