<div class="modal" tabindex="-1" id="delete_study{{ study.id }}">
  <div class="modal-dialog">
      <form method="delete" action="/study/delete/{{ study.id }}/">
          {{ csrf_token }}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please Confirm that you wish to delete Study: {{ study.name }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div>
      </form>
  </div>
</div>
