<div class="input-group mb-3">
    <div class="input-group-text" style="padding: 0.45rem 0.45rem; font-size: 10px !important">{{ prepend }}</div>
  <input {% if type %}type="{{ type  }}"{% else %}"type="text"{% endif %}
    class="form-control" name="{{ name }}"
    {% if result %}value="{{ result }}{% endif %}" {% if required %}required{% endif %}>
</div>