{% load form_widgets %}
{% get_result name results as result_temp %}
{%  if result_temp %}
    {% convert_list_for_edit result_temp as result %}
{% endif %}
<div class="input-group mb-3">
    <div class="input-group-text">{{ prepend }}</div>
    <textarea class="form-control" rows="4" name="{{ name }}"
              {% if required %}required{% endif %}>{% if result %}{{ result }}{% endif %}
    </textarea>
</div>