{% extends "base.html" %}
{% block content %}
    <div style="padding: 60px 25px 0 25px;">
        <div class="container-fluid border border-2 rounded bg-light">
            <div class="nav">
                <ol class="breadcrumb" style="margin: 0.5rem 0 0.5rem 0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </div>
        </div>
         <div class="container-fluid border border-2 rounded bg-light overflow-auto"
              style="margin-top: 0.5rem; padding: 0; margin-bottom: 60px;">
             <div class="navbar border-bottom border-2 ps-2 pe-2 d-flex justify-content-between">
                 <div class="navbar-brand"><h4 class="fw-normal" style="margin-bottom: 0;">{% block content_title %}title{% endblock %}</h4></div>
                 <ul class="nav nav-pills-new">
                     {% block content_actions %}
                     {% endblock %}
                 </ul>
             </div>
             <div style="padding: 7px;">
                 {% block main_content %}Main{% endblock %}
             </div>

         </div>
{% endblock %}