{% extends 'standard_container.html' %}
{% block content_title %}Study Management{% endblock %}
{% block content_actions %}
<li class="nav-item"><a class="nav-link" href="/study/create/">Create Study</a></li>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Study Management{% if current_study %}({{ current_study.name }}){% endif %}</li>
{% endblock %}
{% block main_content %}
    <table class="table table-secondary table-striped">
    <thead>
    <tr>
        <th>Study</th>
        <th>External Ref</th>
        <th>Visit Count</th>
        <th>Form Count</th>
        <th>Payout Count</th>
        <th>Other Doc Count</th>
        <th>Select</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for study in studies %}
    <tr>
        <td>{{ study.name }}</td>
        <td>{{ study.external_id }}</td>
        <td>{{ study.visits|length }}</td>
        <td>{{ study.studyforms_set.all|length }}</td>
        <td>{{ study.payouts_set.all|length }}</td>
        <td>{{ study.studyjotform_set.all|length }}</td>
        <td><a href="/study/select/{{ study.id }}/"><i class="bi bi-bookmark-check-fill"></i></a></td>
        <td><a href="/study/edit/{{ study.id }}/"><i class="bi bi-pencil-square"></i></a></td>
        <td><a href="#" data-bs-toggle="modal" data-bs-target="#delete_study{{ study.id }}"><i class="bi bi-trash"></i></a></td>
    </tr>
        {% include "includes/study_delete_modal.html" %}
    {% endfor %}
    </tbody>
    </table>
{% endblock %}