{% extends "standard_container.html" %}
{% load static %}
{% block content_title %}Edit Study ({{ current_study.name }}){% endblock %}
{% block main_content %}
    <form action="/study/edit/{{ current_study.id }}/save/" method="post">
        {% csrf_token %}
        <div class="input-group mb-2">
            <div class="input-group-text">Study Name</div>
            <input type="text" name="name" required="required"
                   class="form-control" value="{{ current_study.name }}">
        </div>
        <div class="input-group mb-2">
            <div class="input-group-text">External Id</div>
            <input type="text" class="form-control" name="external_id"
                   required="required" value="{{ current_study.external_id }}">
        </div>
        <div class="float-right" style="padding: 10px">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
{% endblock %}