{% extends 'standard_container.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Study Management</a></li>
    <li class="breadcrumb-item active">Create Study</li>
{% endblock %}
{% block content_title %}Create Study{% endblock %}
{% block main_content %}
    <form action="/study/create/save/" method="post">
        {% csrf_token %}
        <div class="input-group mb-2">
                <div class="input-group-text">Study Name</div>
            <input type="text" name="name" required="required" class="form-control">
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">External Id</div>
            </div>
            <input type="text" name="external_id" required="required" class="form-control">
        </div>
            {% include "includes/buttons/submit_button_nocancel.html" %}
    </form>


{% endblock %}