{% load form_widgets %}
{% get_result name results as result %}
{% comment %}
name: Checkboxes

parameter: t label y
parameter: n cols y
parameter: t name y
parameter: l choices y

description: Creates a series of check boxes, using 3 boxes for a large screen with a label inline. For smaller screens, the label is above the checkboxes

{% endcomment %}
<div class="row">
    <div class="col-lg-4 col-md-12">
        {{ label }}
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="row">
        {% for choice in choices %}
            {% if cols == 1 or cols == "1" %}
            <div class="col-12">
            {% elif cols == 2 or cols == "2" %}
            <div class="col-6">
            {% elif cols == 3 or cols == "3" %}
            <div class="col-4">
            {% else %}
            <div class="col-3">
            {% endif %}
                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox" name="{{ name }}" value="{{ choice }}"
                    {% if choice in result or checked %}checked="checked"{% endif %}>{{ choice }}
                    <span></span>
                </label>
            </div>
        {% endfor %}
        </div>
    </div>
</div>