{% comment %}
name: Label Only
parameter: t label y
description: A text label only. No data inputs
{% endcomment %}
<div class="row mb-3">
    <div class="col-12">
        {{ label }}
    </div>
</div>