{% load form_widgets %}
{% get_result name results as result %}
{% comment %}
name: Multiple Choice Prepend - Dropdown - Mobile
parameter: t name y
parameter: t question y
parameter: t prepend y
parameter: l choices y
description: a single select with the label above the select widget
{% endcomment %}
<div class="row">
    <div class="col-12 mb-4">
        {{ question }}
    </div>
</div>
<div class="row">
    <div class="col-12">
         <div class="d-flex flex-row align-items-center justify-content-between">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="padding: 0.45rem 0.45rem">{{ prepend }}</div>
                    </div>
                    <select class="form-control custom-select" name="{{ name }}">
                            <option value="" >&nbsp;</option>
                        {% for item in choices %}
                            <option value="{{ item }}" {% if result == item %}selected="selected"{% endif %}>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
         </div>
    </div>
</div>
