{% load form_widgets %}
{% get_result name results as result %}
{% comment %}
name: Multiple Choice - Radio Buttons
parameter: t name y
parameter: t question y
parameter: l choices y

description: button group to be used for a small multiple choice. question is displayed above the buttons by default
depreciated
{% endcomment %}
<div class="row">
    <div class="col-12 mb-4">
        {{ question }}
    </div>
</div>
<div class="row">
    <div class="col-12">
            {% for item in choices %}
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="{{ name }}" value="{{ item }}"
                           {% if result == item %}checked="checked"{% endif %}>
                    <label class="form-check-label">{{ item }}</label>
                </div>
            {% endfor %}
    </div>
</div>