{% load form_widgets %}
{% get_result name results as result %}
{% comment %}
name: Multiple Choice - Radio Buttons
parameter: t name y
parameter: t question y
parameter: l choices y

description: button group to be used for small multiple choice questions. Question inline for medium and above, and above the buttons on small screens

{% endcomment %}
<div class="row">
    <div class="col-md-4 col-sm-12 mb-4">
        {{ question }}
    </div>
    <div class="col">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {% for item in choices %}
                <label class="btn btn-secondary active">
                    <input type="radio" name="{{ name }}" value="{{ item }}"
                    {% if result == item %}checked="checked"{% endif %}>{{ item }}
                </label>
            {% endfor %}
        </div>

    </div>
</div>
