{% load range_tags %}
{% load form_widgets %}
{% get_result name results as result %}
{% comment %}

name: Select with code:label pairs and prepend label
parameter: t name y
parameter: t label y
parameter: l choices y

description: A select box with the label as a prepend in an input group. Also values shown come in pairs, the actual value and the display value

{% endcomment %}
<div>
    <div class="new-issue-wrapper text-left">
        <div class="d-flex">
        <div class="input-group mb-3" style="width: 100%">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ label }}</span>
          </div>
                <select class="form-control custom-select" data-live-search="true" name="{{ name }}" {% if required %}required{% endif %}>
                    <option value="">&nbsp;</option>
                    {% for item in choices %}
                        {% split_key_val item as split_item %}
                    <option value="{{ split_item.0 }}" {% if result == split_item.0 %}selected="selected"{% endif %}>{{ split_item.1 }}</option>
                    {% endfor %}
                </select>
        </div>
        </div>
    </div>
</div>

