{% load range_tags %}
{% one_sixty_range as mins %}
{% load form_widgets %}
{% get_result name_hour results as result_hour %}
{% get_result name_min results as result_min %}
{% comment %}
name: Time Dropdown 24hr 60min
parameter: t question y
parameter: t name_min y
parameter: t name_hour y

description: time input with question shown inline for medium and above, or above for small
{% endcomment %}
<div class="row">
    <div class="col-md-4 col-sm-12">
        {{ question }}
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="d-flex align-items-left justify-content-left">
            <div class="d-flex flex-row align-items-center justify-content-between pr-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="padding: 0.45rem 0.45rem">Hour</div>
                    </div>
                    <select class="form-control custom-select" name="{{ name_hour }}">
                        <option value="" >&nbsp;</option>
                        <option value="0" {% if result_hour == "0" %}selected="selected"{% endif %}>0</option>
                        <option value="1" {% if result_hour == "1" %}selected="selected"{% endif %}>1</option>
                        <option value="2" {% if result_hour == "2" %}selected="selected"{% endif %}>2</option>
                        <option value="3" {% if result_hour == "3" %}selected="selected"{% endif %}>3</option>
                        <option value="4" {% if result_hour == "4" %}selected="selected"{% endif %}>4</option>
                        <option value="5" {% if result_hour == "5" %}selected="selected"{% endif %}>5</option>
                        <option value="6" {% if result_hour == "6" %}selected="selected"{% endif %}>6</option>
                        <option value="7" {% if result_hour == "7" %}selected="selected"{% endif %}>7</option>
                        <option value="8" {% if result_hour == "8" %}selected="selected"{% endif %}>8</option>
                        <option value="9" {% if result_hour == "9" %}selected="selected"{% endif %}>9</option>
                        <option value="10" {% if result_hour == "10" %}selected="selected"{% endif %}>10</option>
                        <option value="11" {% if result_hour == "11" %}selected="selected"{% endif %}>11</option>
                        <option value="12" {% if result_hour == "12" %}selected="selected"{% endif %}>12</option>
                        <option value="13" {% if result_hour == "13" %}selected="selected"{% endif %}>13</option>
                        <option value="14" {% if result_hour == "14" %}selected="selected"{% endif %}>14</option>
                        <option value="15" {% if result_hour == "15" %}selected="selected"{% endif %}>15</option>
                        <option value="16" {% if result_hour == "16" %}selected="selected"{% endif %}>16</option>
                        <option value="17" {% if result_hour == "17" %}selected="selected"{% endif %}>17</option>
                        <option value="18" {% if result_hour == "18" %}selected="selected"{% endif %}>18</option>
                        <option value="19" {% if result_hour == "19" %}selected="selected"{% endif %}>19</option>
                        <option value="20" {% if result_hour == "20" %}selected="selected"{% endif %}>20</option>
                        <option value="21" {% if result_hour == "21" %}selected="selected"{% endif %}>21</option>
                        <option value="22" {% if result_hour == "22" %}selected="selected"{% endif %}>22</option>
                        <option value="23" {% if result_hour == "23" %}selected="selected"{% endif %}>23</option>
                    </select>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between pr-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="padding: 0.45rem 0.45rem">Min</div>
                    </div>
                    <select class="form-control custom-select" name="{{ name_min }}">
                        <option value="" >&nbsp;</option>
                        {% for min in mins %}
                            <option value="{{ min }}" {% if result_min == min %}selected="selected"{% endif %}>{{ min }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>


