body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 15.6px;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #646c9a;
}

.btn-primary-outline {
    color: black;
    background-color: white;
    border-color: #ed1e79;
}

.btn-primary-outline:hover {
    color: black;
    background-color: white;
    border-color: #ed1e79;
}

.btn-primary-outline:focus,
.btn-primary-outline.focus {
    color: black;
    background-color: white;
    border-color: #ed1e79;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(117, 140, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(117, 140, 255, 0.5);
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
    color: black;
    background-color: #5d78ff;
    border-color: #5d78ff;
}

.btn-primary-outline:not(:disabled):not(.disabled):active,
.btn-primary-outline:not(:disabled):not(.disabled).active,
.show>.btn-primary-outline.dropdown-toggle {
    color: black;
    background-color: white;
    border-color: #ed1e79;
}

.btn-primary-outline:not(:disabled):not(.disabled):active:focus,
.btn-primary-outline:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary-outline.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(117, 140, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(117, 140, 255, 0.5);
}

.nav-pills-new .nav-link {
    margin-bottom: 3px;
    margin-left: 3px;
  border-radius: 0.25rem;
    color: black;
    background-color: white;
    border-color: #ed1e79;
    border-width: 1px;
    border-style: solid;
    padding: 0.3rem 0.7rem;
}

.nav-pills-new .nav-link.active,
.nav-pills-new .show > .nav-link {
  color: #fff;
  background-color: #ed1e79;
}


.nav-pills-new .nav-link.completed,
.nav-pills-new .show > .nav-link {
  color: grey;
  background-color: lightgray;
}


.nav-pills-header .nav-link {
    margin-bottom: 3px;
    border-radius: 0.25rem;
    color: rgb(63, 169, 245);
    background-color: #2c4159;
    font-size: larger;
    font-weight: bolder;
    border-radius: 25px;
}

.nav-pills-header .nav-link.active,
.nav-pills-header .show > .nav-link {
  color: rgb(63, 169, 245);
  background-color: #222736;
}

.nav-pills-header .nav-link.completed,
.nav-pills-header .show > .nav-link {
  color: grey;
  background-color: lightgray;
}

.breadcrumb-item > a {
    color: #6c757d;
    text-decoration: none;
    background-color: transparent;
}

.breadcrumb > li {
    font-weight: bold;
}
.breadcrumb-item.active {
    color: #ed1e79;
}