{% load form_widgets %}
{% get_result_column primary 'current_user' as result %}
        <div class="new-issue-wrapper text-left">
            <div class="d-flex">
                <div class="d-flex mb-2 align-items-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-wrap" style="min-width: 150px;">Current User
                            </span>
                        </div>
                            <select class="custom-select" name="{{ primary }}_current_user">
                                <option value="No" {% if result != 'Yes' %}selected="selected"{% endif %}>No</option>
                                <option value="Yes" {% if result == 'Yes' %}selected="selected"{% endif %}>Yes</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>

