{% load range_tags %}
{% number_range 1, 32 as days %}
{% load form_widgets %}
{% get_result_column primary 'onset_day' results as result %}
    <div class="col-lg-auto col-sm-12 col-md-6">
        <div class="new-issue-wrapper text-left">
            <div class="d-flex">
                <div class="d-flex mb-2 align-items-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Onset Day</span>
                        </div>
                            <select class="custom-select" name="{{ primary }}_onset_day" {% if required %}required="required"{% endif %}>
                                <option value="" > </option>
                                {% for day in days %}
                                <option value="day" {% if result == day %}selected="selected"{% endif %}>{{ day }}</option>
                                {% endfor %}
                              </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

