{% load range_tags %}
{% years_range as years %}
{% load form_widgets %}
{% get_result_column primary first_use_month as result_month %}
{% get_result_column primary first_use_year results as result_year %}
    <div class="col-lg-auto col-sm-12 col-md-6">
        <div class="new-issue-wrapper text-left">
            <div class="d-flex">
                <div class="d-flex mb-2 align-items-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">First Use: Month</span>
                        </div>
                        <select class="custom-select" name="{{ primary }}_first_use_month" {% if required %}required="required"{% endif %}>
                            <option value="" > </option>
                            <option value="jan" {% if result_month == 'jan' %}selected="selected"{% endif %}>Jan</option>
                            <option value="feb" {% if result_month == 'feb' %}selected="selected"{% endif %}>Feb</option>
                            <option value="mar" {% if result_month == 'mar' %}selected="selected"{% endif %}>Mar</option>
                            <option value="apr" {% if result_month == 'apr' %}selected="selected"{% endif %}>Apr</option>
                            <option value="may" {% if result_month == 'may' %}selected="selected"{% endif %}>May</option>
                            <option value="jun" {% if result_month == 'jun' %}selected="selected"{% endif %}>Jun</option>
                            <option value="jul" {% if result_month == 'jul' %}selected="selected"{% endif %}>Jul</option>
                            <option value="aug" {% if result_month == 'aug' %}selected="selected"{% endif %}>Aug</option>
                            <option value="sep" {% if result_month == 'sep' %}selected="selected"{% endif %}>Sep</option>
                            <option value="oct" {% if result_month == 'oct' %}selected="selected"{% endif %}>Oct</option>
                            <option value="nov" {% if result_month == 'nov' %}selected="selected"{% endif %}>Nov</option>
                            <option value="dec" {% if result_month == 'dec' %}selected="selected"{% endif %}>Dec</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex mb-2 align-items-center ml-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text wra">First use: Year</span>
                        </div>
                        <select class="custom-select" name="{{ primary }}_first_use_year">
                            <option value="">&nbsp;</option>
                            {% for year in years %}
                                <option value="{{ year }}" {% if result_year == year %}selected="selected"{% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>


