{% load range_tags %}
{% years_range as years %}
{% load form_widgets %}
{% get_result_column primary 'onset_month' results as result %}
    <div class="col-lg-auto col-sm-12 col-md-6">
        <div class="new-issue-wrapper text-left">
            <div class="d-flex">
                <div class="d-flex mb-2 align-items-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Onset Month</span>
                        </div>
                            <select class="custom-select" name="{{ primary }}_onset_month" {% if required %}required="required"{% endif %}>
                                <option value="" > </option>
                                <option value="jan" {% if result == 'jan' %}selected="selected"{% endif %}>Jan</option>
                                <option value="feb" {% if result == 'feb' %}selected="selected"{% endif %}>Feb</option>
                                <option value="mar" {% if result == 'mar' %}selected="selected"{% endif %}>Mar</option>
                                <option value="apr" {% if result == 'apr' %}selected="selected"{% endif %}>Apr</option>
                                <option value="may" {% if result == 'may' %}selected="selected"{% endif %}>May</option>
                                <option value="jun" {% if result == 'jun' %}selected="selected"{% endif %}>Jun</option>
                                <option value="jul" {% if result == 'jul' %}selected="selected"{% endif %}>Jul</option>
                                <option value="aug" {% if result == 'aug' %}selected="selected"{% endif %}>Aug</option>
                                <option value="sep" {% if result == 'sep' %}selected="selected"{% endif %}>Sep</option>
                                <option value="oct" {% if result == 'oct' %}selected="selected"{% endif %}>Oct</option>
                                <option value="nov" {% if result == 'nov' %}selected="selected"{% endif %}>Nov</option>
                                <option value="dec" {% if result == 'dec' %}selected="selected"{% endif %}>Dec</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

