{% load range_tags %}
{% pathogen_codes as paths %}
{% load form_widgets %}
{% get_result_column primary 'pathogen_code' results as result %}
    <div class="col-lg-auto col-sm-12 col-md-6">
        <div class="new-issue-wrapper text-left">
            <div class="d-flex">
                <div class="d-flex mb-2 align-items-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Pathogen Code</span>
                        </div>
                            <select class="custom-select" name="{{ primary }}_pathogen_code" {% if required %}required="required"{% endif %}>
                                <option value="" > </option>
                                {% for path in paths %}
                                <option value="{{ path.0 }}" {% if result == path.0 %}selected="selected"{% endif %}>{{ path.1 }}</option>
                                {% endfor %}
                            </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

