{% load range_tags %}
{% load form_widgets %}
{% get_result_column primary 'patient_hospitalized' results as result %}
    <div class="col-lg-auto col-sm-12 col-md-6">
        <div class="new-issue-wrapper text-left">
            <div class="d-flex">
                <div class="d-flex mb-2 align-items-center">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Patient Hospitalized</span>
                        </div>
                            <select class="custom-select" name="{{ primary }}_patient_hospitalized">
                                <option value="No" {% if result == 'No' or result != "Yes" %}selected="selected"{% endif %}>No</option>
                                <option value="Yes" {% if result == 'Yes' %}selected="selected"{% endif %}>Yes</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
