{% load range_tags %}
{% years_range as years %}
{% load form_widgets %}
{% get_result_column primary 'onset_year' results as result %}
    <div class="col-lg-auto col-sm-12 col-md-6">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" style="padding: 0.45rem 0.45rem">Onset Year</div>
            </div>
            <select class="custom-select" name="{{ primary }}_onset_year">
                <option value="">&nbsp;</option>
                {% for year in years %}
                    <option value="{{ year }}" {% if result == year %}selected="selected"{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


